*{
    background: transparent;
}

.section {
    width: 400px;
    height: 600px;
    background: url(fondo4.jpg);
    background-position: center center;	  
	background-repeat: no-repeat;
	background-size: cover;
    color: white;
    border-radius: 10px;
}

.principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
}

.datos {
    margin-left: 7%;
    display: inline-block;
    line-height: 0;
}

.position {
    margin-left: 2%;
    font-size: 170%;
}

.img {
    width: 60px;
    height: 60px;
}

.jugador{
    margin-left: 30%;
    width: 125px;
    height: 250px;
    margin-bottom: 10%;
}

.nombre-jugador{
    margin-left: 20%;
    font-size: 30px;
    display: inline-block;
    line-height: 0;
}

.estrellas{
    margin-left: 35%;
}

/* reverso */

.section2 {
    width: 400px;
    height: 598px;
    background: black;
    border-radius: 10px;
    border-style: solid;
    border-color:#022F74;
    color: white;
    display: inline-block;
}

.cara {
    margin-left: 50%;
    width: 105px;
    height: 105px;
}

.datos2 {
    margin-left: 25%;
    display: block;
    block-size: 5px;
    line-height: 0px;
}

.position2 {
    margin-left: 2%;
    font-size: 170%;
}

.img2 {
    width: 60px;
    height: 60px;
}


.habilidades{
    text-align: center;
    font-size: 13px;
}

@media(max-width: 700px) {

    .section {
        width: 200px;
        height: 299px;
        background: url(fondo2.jpg);
        background-position: center center;	  
	    background-repeat: no-repeat;
	    background-size: cover;
        color: white;
        border-radius: 10px;
    }

    .principal{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 10%;
    }

    .datos {
        margin-left: 7%;
        display: inline-block;
        line-height: 0;
    }

    .position {
        margin-left: 2%;
        font-size: 85%;
    }

    .img {
        width: 30px;
        height: 30px;
    }

    .jugador{
        margin-left: 35%;
        width: 62px;
        height: 110px;
        margin-bottom: 10%;
    }

    .nombre-jugador{
        margin-left: 20%;
        font-size: 15px;
        display: inline-block;
        line-height: 0;
    }
    
    .estrellas{
        margin-left: 23%;
    }
    
    /* reverso */

.section2 {
    width: 200px;
    height: 299px;
    background: black;
    border-radius: 10px;
    border-style: solid;
    border-color:#022F74;
    color: white;
    display: inline-block;
}

.cara {
    margin-left: 50%;
    width: 52px;
    height: 52px;
}

.datos2 {
    margin-left: 25%;
    display: block;
    block-size: 3px;
    line-height: 0px;
}

.position2 {
    margin-left: 2%;
    font-size: 85%;
}

.img2 {
    width: 30px;
    height: 30px;
}


.habilidades{
    text-align: center;
    font-size: 5px;
}

}
